.table {
    box-shadow: 0px 0px 1px 0px #171A1F12;
    box-shadow: 0px 0px 2px 0px #171A1F1F;
    width: 100%;
    text-align: left;
    


}

.th, .td {
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    /* font-family: "Manrope", sans-serif; */
    color: #171A1F;
    padding: 10px;
}

.tbody tr:nth-child(odd) {
    background: #EBEFFA;
}

.actionIcons {
    color: #FFFFFF;
    padding: 2px 5px;
    width: 30%;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    
}

.actionIcons:nth-child(1) {
    background-color: #00BDFF;
}
.actionIcons:nth-child(2) {
    background-color: #1100AF;
}
.actionIcons:nth-child(3) {
    background-color: #EF3F3F;
}

.addInfoTop {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
}


.mamaIcons {
    display: flex;
    justify-content: space-around;
    gap: 3px;
}

.pagination {
    display: flex;
    justify-content: left;
    padding: 20px 0;
  }
  
  .pagination button {
    color: #71aafe;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-right: 2px;
  }
  
  .pageButton {
    width: 51px;
    height: 34px;
    padding: 5px 8.5px 5px 8.5px;
    border-radius: 2px;
    border: 1px solid #71aafe;
    background-color: #ffffff;
  }
  
  .pageNextButton {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
    background-color: #ffffff;
  }