@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
.body {
  background-color: #f7f8fc;
}

.body {
  font-family: "Noto Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
}

.active {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-decoration: none;
  color: #7f00ff;
  margin: 0 20px;
}

.dashboardNav {
  display: flex;
  justify-content: space-between;
  font-family: "Manrope", sans-serif;
  background-color: #fefefe;
  padding-top: 10px;
  padding-bottom: 10px;
  position: sticky;
  top: 0;
  align-items: center;
  z-index: 1;
}

.left {
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.img {
  width: 50px;
  aspect-ratio: 1/1;
  margin-right: 20px;
}

.ull {
  display: flex;
  list-style: none;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #171a1f;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  margin: 0 20px;
}

.link:hover {
  color: #7f00ff;
}

.img2 {
  width: 50px;
  aspect-ratio: 1/1;
  margin-right: 20px;
}

.profileImgContainer {
  position: relative;
  display: flex;
  align-items: center;
}



.right {
  display: flex;
  align-items: center;
  margin-right: 30px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
  background-color: #f0f0f0;
}

.right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dashboard-icon {
  cursor: pointer;
  position: absolute;
  right: 5px;
}
